// Add your custom CSS here.
#header {
  background: #fff !important;
}
#ec-user-popover {
  background:#fff !important;
  border: none;
}
#cart-button button {
  background:#fff !important;
  border: none;
}
