// Add your custom CSS here.
#header {
  background: #fff !important;
}
#ec-user-popover {
  background:#fff !important;
  border: none;
}
#cart-button button {
  background:#fff !important;
  border: none;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
<<<<<<< HEAD
@media (min-width: 768px) {
  .visible-xs {
    display: none !important;
  }
}
.blog {
  padding-bottom: 2rem;
}
=======
>>>>>>> 1549ecddfa80b6f7117e015af83593c4e3ec2913
